@{
    ViewData["Title"] = "EasyVotes - (c) 2021 Thomas MERLY";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue dans EasyVotes !</h1>
    <p>Ce système vous permet de voter facilement en ligne. Pour commencer, identifiez-vous ou cliquer @Html.ActionLink("Ici", "Index", "Vote").</p>
</div>
