@{
    ViewData["Title"] = "Gestion des données personnelles";
}
<h1>@ViewData["Title"]</h1>

<p>Cette partie n'est pas encore rédigée. Mais comme je suis également inscrit sur ce système, et que je n'aime pas que mes données personnelles voyagent trop loin, soyez rassurés :)</p>
